*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{background:rgb(189, 170, 170) ;
    }


.heading{
   
    margin-top:50px;
    text-align:center;
    font-size:50px;
    background:rgba(128, 128, 128, 0.11);
}

/* .net{
    position:absolute;
    bottom:0px;
    left:50%;
    height:44%;
    width:3px;
    background-color: black;
} */

.my-object{
    position: absolute;
    bottom:0px;
    left:0px;

}

.shuttle img{
    position: absolute;
    width:50px;
    height:50px;
    transform: rotate(-80deg);
}

.court{
    position:absolute;
    top:0;
    z-index:-1;
    width: 100%;
}

.start-btn{
    position: absolute;
    top:100px;
    margin-top:10px;
    left:45%;
    text-align: center;
    background: rgba(0, 0, 0, 0.726);
    width:200px;
    padding: 15px;
    border:solid 1px;
    color:white;
    border-radius: 20px;
}

.start-btn:hover { cursor: pointer;}

.racket{
    position: absolute;
    width:200px;
    transform: rotate(90deg);
    bottom:0;
}

.racket-2{
    position: absolute;
    bottom:0;
    right:0;
    transform: rotate(-120deg);
    width:200px;
}

@media only screen and (max-width:600px){
    .net{
        height: 60px;
    }
}